<section class="ambassadors-main" id="ambassadors-main">
    <div class="ambassadors-main__container container">
        <div class="ambassadors-main__title">Амбассадоры</div>
        <div class="ambassadors-main__cards">
            <div class="ambassadors-main__card">
                <img src="/src/assets/photo/jury/images.jpeg.300x300_q85_box-0,3,194,197_crop_detail.jpg" alt=""
                    class="ambassadors-main__card--img">
                <div class="ambassadors-main__card--title">Ирада Хафизяновна Аюпова</div>
                <p class="ambassadors-main__card--description">
                    Министр культуры Республики Татарстан

                </p>
            </div>
            <div class="ambassadors-main__card">
                <img src="/src/assets/photo/jury/images.jpeg.300x300_q85_box-0,3,194,197_crop_detail.jpg" alt=""
                    class="ambassadors-main__card--img">
                <div class="ambassadors-main__card--title">Ирада Хафизяновна Аюпова</div>
                <p class="ambassadors-main__card--description">
                    Министр культуры Республики Татарстан
                    
                </p>
            </div>
            <div class="ambassadors-main__card">
                <img src="/src/assets/photo/jury/images.jpeg.300x300_q85_box-0,3,194,197_crop_detail.jpg" alt=""
                    class="ambassadors-main__card--img">
                <div class="ambassadors-main__card--title">Ирада Хафизяновна Аюпова</div>
                <p class="ambassadors-main__card--description">
                    Министр культуры Республики Татарстан
                    
                </p>
            </div>
            <div class="ambassadors-main__card">
                <img src="/src/assets/photo/jury/images.jpeg.300x300_q85_box-0,3,194,197_crop_detail.jpg" alt=""
                    class="ambassadors-main__card--img">
                <div class="ambassadors-main__card--title">Ирада Хафизяновна Аюпова</div>
                <p class="ambassadors-main__card--description">
                    Министр культуры Республики Татарстан
                    
                </p>
            </div>
            <div class="ambassadors-main__card">
                <img src="/src/assets/photo/jury/images.jpeg.300x300_q85_box-0,3,194,197_crop_detail.jpg" alt=""
                    class="ambassadors-main__card--img">
                <div class="ambassadors-main__card--title">Ирада Хафизяновна Аюпова</div>
                <p class="ambassadors-main__card--description">
                    Министр культуры Республики Татарстан
                    
                </p>
            </div>
            <div class="ambassadors-main__card">
                <img src="/src/assets/photo/jury/images.jpeg.300x300_q85_box-0,3,194,197_crop_detail.jpg" alt=""
                    class="ambassadors-main__card--img">
                <div class="ambassadors-main__card--title">Ирада Хафизяновна Аюпова</div>
                <p class="ambassadors-main__card--description">
                    Министр культуры Республики Татарстан
                    
                </p>
            </div>
            <div class="ambassadors-main__card">
                <img src="/src/assets/photo/jury/images.jpeg.300x300_q85_box-0,3,194,197_crop_detail.jpg" alt=""
                    class="ambassadors-main__card--img">
                <div class="ambassadors-main__card--title">Ирада Хафизяновна Аюпова</div>
                <p class="ambassadors-main__card--description">
                    Министр культуры Республики Татарстан
                    
                </p>
            </div>
            <div class="ambassadors-main__card">
                <img src="/src/assets/photo/jury/images.jpeg.300x300_q85_box-0,3,194,197_crop_detail.jpg" alt=""
                    class="ambassadors-main__card--img">
                <div class="ambassadors-main__card--title">Ирада Хафизяновна Аюпова</div>
                <p class="ambassadors-main__card--description">
                    Министр культуры Республики Татарстан
                    
                </p>
            </div>
        </div>
    </div>
</section>
