@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
        url('../assets/fonts/manrope-cyrillic-400-normal.woff2') format('woff2'),
        url('../assets/fonts/manrope-latin-400-normal.woff2') format('woff2');
}

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src:
        url('../assets/fonts/manrope-cyrillic-500-normal.woff2') format('woff2'),
        url('../assets/fonts/manrope-latin-500-normal.woff2') format('woff2');
}

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src:
        url('../assets/fonts/manrope-cyrillic-600-normal.woff2') format('woff2'),
        url('../assets/fonts/manrope-latin-600-normal.woff2') format('woff2');
}

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src:
        url('../assets/fonts/manrope-cyrillic-700-normal.woff2') format('woff2'),
        url('../assets/fonts/manrope-latin-700-normal.woff2') format('woff2');
}
