<footer class="footer">
    <div class="container footer__container">
        <div class="footer__general">
            <div class="footer__info">
                <div class="footer__brand">
                    <img src="/src/assets/photo/footer/Изображение Codex 27 авг. 2026 г., 01_18_46.png" alt=""
                        class="footer__brand--logo">
                    <div class="footer__brand--text">Углубись в историю Татарстана</div>
                </div>
                <div class="footer__line"></div>
                <p class="footer__description">
                    Проект о месте, где живет история.
                    Люди, события и наследие Татарстана -
                    в документальных статьях и
                    в современных научных видео
                </p>
            </div>

            <div class="footer__details">
                <div class="footer__nav--box">
                    <span class="footer__nav--title">Навигация</span>
                    <nav class="footer__nav">
                        <ul class="footer__nav--ul">
                            <li class="footer__nav--li">Вопросы</li>
                            <li class="footer__nav--li">Новости</li>
                            <li class="footer__nav--li">Контакты</li>
                        </ul>
                        <ul class="footer__nav--ul">
                            <li class="footer__nav--li">Жюри</li>
                            <li class="footer__nav--li">Политика</li>
                            <li class="footer__nav--li">Положение</li>
                        </ul>
                    </nav>
                </div>
                <div class="footer__line"></div>
                <ul class="footer__contacts--ul">
                    <li class="footer__contacts--title">Контакты</li>
                    <li class="footer__contacts--li">
                        <a class="footer__link" href="mailto:info@example.ru">info@example.ru</a>
                    </li>
                    <li class="footer__contacts--li">
                        <a class="footer__link" href="tel:+7(495)123-45-67">+7 (495) 123-45-67</a>
                    </li>
                    <li class="footer__contacts--li">
                        <ul class="footer__socials">
                            <li class="footer__socials--li">
                                <a class="footer__link" href="#" aria-label="ВКонтакте">
                                    <img class="footer__socials--icon" src="/src/assets/icons/footer/vk.svg" alt="">
                                </a>
                            </li>
                            <li class="footer__socials--li">
                                <a class="footer__link" href="#" aria-label="Одноклассники">
                                    <img class="footer__socials--icon" src="/src/assets/icons/footer/odnoklassniki.svg" alt="">
                                </a>
                            </li>
                            <li class="footer__socials--li">
                                <a class="footer__link" href="#" aria-label="Telegram">
                                    <img class="footer__socials--icon" src="/src/assets/icons/footer/telegram.svg" alt="">
                                </a>
                            </li>
                            <li class="footer__socials--li">
                                <a class="footer__link" href="#" aria-label="YouTube">
                                    <img class="footer__socials--icon" src="/src/assets/icons/footer/youtube.svg" alt="">
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
        <div class="footer__gorizontal-line"></div>
        <div class="footer__sponsers">
            <a href="" class="footer__sponsers--item">
                <img src="/src/assets/photo/footer/tarhan-logo-new.png" alt="Тархан">
            </a>
            <div class="footer__sponsers--line"></div>
            <a href="" class="footer__sponsers--item">
                <img src="/src/assets/photo/footer/kfu-logo.png" alt="Казанский федеральный университет">
            </a>
            <div class="footer__sponsers--line"></div>
            <a href="" class="footer__sponsers--item">
                <img src="/src/assets/photo/footer/minkult-logo.png" alt="Министерство культуры Республики Татарстан">
            </a>
            <div class="footer__sponsers--line"></div>
            <a href="" class="footer__sponsers--item">
                <img src="/src/assets/photo/footer/Изображение Codex 28 авг. 2026 г., 02_44_49.png" alt="Alien Studio">
            </a>
        </div>
    </div>
</footer>
