<header class="header">
    <div class="container">
        <div class="header__container">
            <ul class="header__logos">
                <li class="header__logo">
                    <img class="header__logo--tarhan" width="579" height="95"
                        src="/src/assets/photo/header/tarhan-logo-new.png" alt="тарахан конкурс">
                </li>
                <li class="header__logo">
                    <img class="header__logo--kfu" src="/src/assets/photo/header/kfu-logo.png" width="487" height="95"
                        alt="Казанский федеральный университет" />
                </li>
                <li class="header__logo">
                    <img class="header__logo--mincult" width="462" height="72"
                        src="/src/assets/photo/header/minkult-logo.png" alt="минестерство культуры">
                </li>
                <li class="header__logo">
                    <img class="header__logo--alien" width="307" height="87"
                        src="/src/assets/photo/header/alien-logo.png" alt="alien studio">
                </li>
            </ul>
            <button class="header__burger" type="button" aria-expanded="false" aria-controls="header-navigation"
                aria-label="Открыть меню">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <ul class="header__titles" id="header-navigation">
                <li class="header__title">
                    <a href="./index.html#participate" class="header__title-a">Участвовать</a>
                </li>
                <li class="header__title">
                    <a href="./news.html" class="header__title-a">Новости</a>
                </li>
                <li class="header__title">
                    <a href="./jury.html#jury-main" class="header__title-a">Жюри</a>
                </li>
                <li class="header__title">
                    <a href="./ambassadors.html#ambassadors-main" class="header__title-a">Амбассадоры</a>
                </li>
                <li class="header__title">
                    <a href="./information.html#contacts" class="header__title-a">Информация</a>
                </li>
                <li class="header__title">
                    <a href="https://tarhan-history.ru/accounts/login/" class="header__title-a">Вход</a>
                </li>
            </ul>
        </div>
    </div>
</header>
