<header class="header">
    <div class="container">
        <div class="header__container">
            <ul class="header__logos">
                <li class="header__logo">
                    <img class="header__logo--tarhan" width="579" height="95"
                        src="/src/assets/photo/header/tarhan-logo-new.png" alt="тарахан конкурс">
                </li>
                <li class="header__logo">
                    <img class="header__logo--kfu" src="/src/assets/photo/header/kfu-logo.png" width="487" height="95"
                        alt="Казанский федеральный университет" />
                </li>
                <li class="header__logo">
                    <img class="header__logo--mincult" width="462" height="72"
                        src="/src/assets/photo/header/minkult-logo.png" alt="минестерство культуры">
                </li>
                <li class="header__logo">
                    <img class="header__logo--alien" width="307" height="87"
                        src="/src/assets/photo/header/alien-logo.png" alt="alien studio">
                </li>
            </ul>
            <ul class="header__titles">
                <li class="header__title">
                    <a href="" class="header__title-a">Участововать</a>
                </li>
                <li class="header__title">
                    <a href="" class="header__title-a">Вопросы</a>
                </li>
                <li class="header__title">
                    <a href="" class="header__title-a">Жюри</a>
                </li>
                <li class="header__title">
                    <a href="" class="header__title-a">Амбассадры</a>
                </li>
                <li class="header__title">
                    <a href="" class="header__title-a">Контакты</a>
                </li>
                <li class="header__title">
                    <a href="" class="header__title-a">Положение</a>
                </li>
                <li class="header__title">
                    <a href="" class="header__title-a">Вход</a>
                </li>
            </ul>
        </div>
    </div>
</header>