<section class="contacts" id="contacts">
    <div class="contacts__container container">
        <div class="contacts__subtitle">
            <div class="contacts__subtitle--line"></div>
            связь с оргкомитетом
            <div class="contacts__subtitle--line"></div>
        </div>
        <h1 class="contacts__title">Контакты и документы</h1>
        <div class="contacts__box">
            <div class="contacts__info">
                <h2 class="contacts__info--title">Оргкомитет конкурса</h2>
                <p class="contacts__info--text">Историко-культурный конкурс «Тархан»</p>
                <p class="contacts__info--text">Организатор: студия «Алиен»</p>
                <p class="contacts__info--text">Контактное лицо:<br>Гульнара Хабибуллина</p>
                <ul class="contacts__list">
                    <li class="contacts__list--item">
                        <img src="/src/assets/icons/information/phone.svg" width="26" height="26" alt=""
                            aria-hidden="true">
                        <a class="contacts__list--link" href="tel:+79172661481">+7 (917) 266-14-81</a>
                    </li>
                    <li class="contacts__list--item">
                        <img src="/src/assets/icons/information/mail.svg" width="26" height="26" alt=""
                            aria-hidden="true">
                        <a class="contacts__list--link"
                            href="mailto:tarhan.konkurs@gmail.com">tarhan.konkurs@gmail.com</a>
                    </li>
                    <li class="contacts__list--item">
                        <img src="/src/assets/icons/information/location.svg" width="26" height="26" alt=""
                            aria-hidden="true">
                        <address class="contacts__list--address">
                            Республика Татарстан, Казань,<br>ул. Адмиралтейская, 3, корпус 4
                        </address>
                    </li>
                </ul>
                <a class="contacts__button"
                    href="mailto:tarhan.konkurs@gmail.com?subject=Вопрос организаторам конкурса Тархан">
                    Написать организаторам <span aria-hidden="true">→</span>
                </a>
            </div>
            <div class="contacts__map">
                <iframe
                    src="https://www.google.com/maps?q=Россия,+Казань,+Адмиралтейская+улица,+3+корпус+4&output=embed"
                    title="Оргкомитет конкурса «Тархан» на карте" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</section>
