<div class="competition-prize">
    <div class="competition-prize__container container">
        <div class="competition-prize__main">
            <div class="competition-prize__info">
                <div class="competition-prize__info--subtitle">
                    <div class="competition-prize__info--line"></div>
                    <img class="competition-prize__info--marker"
                        src="/src/assets/icons/competition-prize/section-marker.svg" width="18" height="18" alt=""
                        aria-hidden="true">
                    <span class="competition-prize__info--subtitle-text">ГЛАВНЫЙ ПРИЗ</span>
                    <img class="competition-prize__info--marker"
                        src="/src/assets/icons/competition-prize/section-marker.svg" width="18" height="18" alt=""
                        aria-hidden="true">
                    <div class="competition-prize__info--line"></div>
                </div>
                <div class="competition-prize__info--title">
                    Стать студентом КФУ и учиться бесплатно — это реально!
                </div>
                <div class="competition-prize__info--text">
                    Прими участие в историко-культурном конкурсе «Тархан».

                    Докажи, что ты знаешь историю и культуру тюркских народов. Пройди два тура — заочный и очный
                    телевизионный. Заяви о себе! Победи соперников, стань призёром — и поступи на бесплатной основе* на
                    профиль «История тюркских народов» Института международных отношений Казанского (Приволжского)
                    федерального университета.

                    Конкурс направлен на популяризацию истории России, Татарстана, истории и культуры тюркских народов,
                    продвижение культуры чтения, повышение интереса к историко-культурному библиотечному наследию.
                </div>
            </div>
            <div class="competition-prize__flyer">
                <img class="competition-prize__flyer-image"
                    src="/src/assets/photo/competition-prize/competition-flyer.png" width="1046" height="1068"
                    alt="Информационный плакат конкурса «Тархан»">
            </div>
        </div>
        <div class="competition-prize__bunner">
            <div class="competition-prize__bunner--info">
                <div class="competition-prize__bunner--title">
                    Кто может участвовать?
                </div>
                <div class="competition-prize__bunner--text">
                    В конкурсе могут принять участие школьники 10–11 классов и/или студенты средних профессиональных
                    образовательных учреждений всех субъектов Российской Федерации, а также абитуриенты из стран
                    ближнего и дальнего зарубежья.
                </div>
            </div>
            <div class="competition-prize__bunner--icons">
                <div class="competition-prize__bunner--icon">
                    <img src="/src/assets/icons/competition-prize/audience-school.svg" alt="">
                    <p class="competition-prize__bunner--span">Школьники 10–11 классов</p>
                </div>
                <div class="competition-prize__bunner--icon">
                    <img src="/src/assets/icons/competition-prize/audience-student.svg" alt="">
                    <p class="competition-prize__bunner--span">Студенты СПО и абитуриенты</p>
                </div>

            </div>
            <div class="competition-prize__bunner--line" aria-hidden="true"></div>
            <button class="competition-prize__bunner--button" type="button">
                Узнать условия участия
            </button>
        </div>
    </div>
</div>
