<div class="competition-hero">
    <div class="container competition-hero__container">
        <div class="competition-hero__info">
            <div class="competition-hero__title">
                Историко-культурный конкурс «Тархан» 2026-2027
            </div>
            <p class="competition-hero__p">
                От Министерство культуры Республики Татарстан совместно с Высшей школой исторических наук и
                всемирного культурного наследия Института международных отношений Казанского (Приволжского)
                федерального университета
            </p>
            <div class="competition-hero__concurs">
                <div class="competition-hero__concurs--button">
                    зарегестрироваться
                </div>
                <div class="competition-hero__concurs--data">
                    <div class="competition-hero__concurs-icon">
                        <img src="/src/assets/icons/calendar.svg" alt="" aria-hidden="true">
                    </div>
                    <div class="competition-hero__concurs--text">
                        регистрация до 11.11.12
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="competition-hero__banner">
        <div class="competition-hero__container">
            <div class="competition-hero__logo">
                <img src="/src/assets/photo/competition-hero/tarhan-logo-editorial.png" alt="" aria-hidden="true">
            </div>
        </div>
    </div>
</div>
