<div class="competition-questions" id="questions">
    <div class="competition-questions__container container">
        <div class="competition-questions__subtitle">
            <div class="competition-questions__subtitle--line"></div>
            вопросы и ответы
            <div class="competition-questions__subtitle--line"></div>
        </div>
        <h2 class="competition-questions__title">
            Часто задаваемые вопросы
        </h2>
        <div class="competition-questions__accordion">
            <div class="competition-questions__accordion--item">
                <button class="competition-questions__accordion--bt" type="button">
                    Я учусь в 10 классе — могу ли я участвовать?
                </button>
                <div class="competition-questions__accordion--panel">
                    <p class="competition-questions__accordion--p">
                        Да. К участию допускаются учащиеся 10–11 классов. Если десятиклассник станет победителем или
                        призёром, право поступления в КФУ сохраняется на следующий год после сдачи профильных ЕГЭ.
                    </p>
                </div>
            </div>
            <div class="competition-questions__accordion--item">
                <button class="competition-questions__accordion--bt" type="button">
                    Можно ли участвовать после 9 класса?
                </button>
                <div class="competition-questions__accordion--panel">
                    <p class="competition-questions__accordion--p">
                        Нет. К участию допускаются только учащиеся 10–11 классов. Подать заявку можно будет в следующем
                        учебном году.
                    </p>
                </div>
            </div>
            <div class="competition-questions__accordion--item">
                <button class="competition-questions__accordion--bt" type="button">
                    Где проходят съёмки очных этапов?
                </button>
                <div class="competition-questions__accordion--panel">
                    <p class="competition-questions__accordion--p">
                        Все очные этапы конкурса проходят в Казани.
                    </p>
                </div>
            </div>
            <div class="competition-questions__accordion--item">
                <button class="competition-questions__accordion--bt" type="button">
                    До какого числа принимаются заявки?
                </button>
                <div class="competition-questions__accordion--panel">
                    <p class="competition-questions__accordion--p">
                        Заявку необходимо подать и пройти заочное тестирование до 31 декабря.
                    </p>
                </div>
            </div>
            <div class="competition-questions__accordion--item">
                <button class="competition-questions__accordion--bt" type="button">
                    Сколько попыток даётся на тестирование?
                </button>
                <div class="competition-questions__accordion--panel">
                    <p class="competition-questions__accordion--p">
                        Для прохождения тестирования предоставляется три попытки.
                    </p>
                </div>
            </div>
            <div class="competition-questions__accordion--item">
                <button class="competition-questions__accordion--bt" type="button">
                    Оплачивают ли организаторы дорогу до Казани?
                </button>
                <div class="competition-questions__accordion--panel">
                    <p class="competition-questions__accordion--p">
                        Нет. Расходы, связанные с проездом до места проведения съёмок, участники оплачивают
                        самостоятельно.
                    </p>
                </div>
            </div>
            <div class="competition-questions__accordion--item">
                <button class="competition-questions__accordion--bt" type="button">
                    Как проходит телевизионный этап?
                </button>
                <div class="competition-questions__accordion--panel">
                    <p class="competition-questions__accordion--p">
                        Очный тур проходит в формате телевизионной викторины и состоит из четырёх этапов: 1/8 финала,
                        1/4 финала, 1/2 финала и финала. Даты и время трансляций сообщает организационный комитет.
                    </p>
                </div>
            </div>
            <div class="competition-questions__accordion--item">
                <button class="competition-questions__accordion--bt" type="button">
                    Кого зачислят в КФУ бесплатно?
                </button>
                <div class="competition-questions__accordion--panel">
                    <p class="competition-questions__accordion--p">
                        По результатам конкурса жюри определит одного победителя и двух призёров. Они смогут бесплатно
                        поступить на профиль «История тюркских народов» Института международных отношений КФУ.
                    </p>
                </div>
            </div>
            <div class="competition-questions__accordion--item">
                <button class="competition-questions__accordion--bt" type="button">
                    Можно ли приехать на съёмки одному?
                </button>
                <div class="competition-questions__accordion--panel">
                    <p class="competition-questions__accordion--p">
                        Несовершеннолетние участники должны приехать в сопровождении взрослого: родителя, законного
                        представителя или учителя.
                    </p>
                </div>
            </div>
        </div>
        <div class="competition-questions__footer">
            Не нашли ответ? <span class="competition-questions__footer--span">Свяжитесь с организаторами —</span> <a href="tel:+79172661481">+7 (917) 266-14-81</a>
        </div>
    </div>
</div>
