<div class="competition-invitation">
    <div class="container competition-invitation__container">
        <div class="competition-invitation__info">
            <p class="competition-invitation__info--text">
                Если ты любишь историю, уверен, что это дело твоей жизни
                и выбираешь куда поступить - прими участие в
                историко-культурном конкурсе «Тархан».
            </p>
            <div class="competition-invitation__info--content">
                <button class="competition-invitation__button">
                    подробнее о конкурсе
                </button>
                <div class="competition-invitation__student-photo">
                    <img src="/src/assets/photo/competition-invite/oncomputer-gray.png"
                        alt="Участник конкурса работает за ноутбуком">
                </div>
            </div>
        </div>
        <div class="competition-invitation__video--box">
            <div class="competition-invitation__video">
                <video src="/src/assets/video/competition - invite/9241536695013.mp4" controls preload="auto" muted
                    playsinline></video>
            </div>
        </div>
    </div>
</div>
