<section class="status">
    <div class="status__container container">
        <div class="status__left">
            <div class="status__icon">
                <img src="./src/assets/icons/calendar.svg" alt="">
            </div>
            <div class="status__box">
                <span class="status__subtitle">
                    Статус конкурса
                </span>
                <span class="status__title">
                    Регистрация скоро начнется
                </span>
            </div>
        </div>
        <div class="status__right">
            <span class="status__data">
                начало ожидается 1 ноября
            </span>
            <a href="./entrance.html" class="status__link">
                <span class="status__link--span">Личный кабинет</span>
                <img src="./src/assets/icons/status/arrow-right.svg" alt="" class="status__link--img">
            </a>
        </div>
    </div>
</section>
