<section class="jury-main" id="jury-main">
    <div class="jury-main__container container">
        <div class="jury-main__switch">
            <a href="./jury.html#jury-main" class="jury-main__switch--choose-page">Жюри</a>
            <a href="./ambassadors.html#ambassadors-main" class="jury-main__switch--choose">Амбассадоры</a>
        </div>
        <div class="jury-main__subtitle">
            <div class="jury-main__subtitle--line"></div>
            экспертный совет
            <div class="jury-main__subtitle--line"></div>
        </div>
        <div class="jury-main__title">
            Жюри конкурса
        </div>
        <p class="jury-main__text">
            Историки, учёные и деятели культуры, которые оценивают знания,
            логику и глубину ответа участников
        </p>
        <div class="jury-main__cards">
            <div class="jury-main__card">
                <img src="/src/assets/photo/jury/images.jpeg.300x300_q85_box-0,3,194,197_crop_detail.jpg" alt=""
                    class="jury-main__card--img">
                <div class="jury-main__card--title">Ирада Хафизяновна Аюпова</div>
                <p class="jury-main__card--description">
                    Министр культуры Республики Татарстан

                </p>
            </div>
            <div class="jury-main__card">
                <img src="/src/assets/photo/jury/images.jpeg.300x300_q85_box-0,3,194,197_crop_detail.jpg" alt=""
                    class="jury-main__card--img">
                <div class="jury-main__card--title">Ирада Хафизяновна Аюпова</div>
                <p class="jury-main__card--description">
                    Министр культуры Республики Татарстан

                </p>
            </div>
            <div class="jury-main__card">
                <img src="/src/assets/photo/jury/images.jpeg.300x300_q85_box-0,3,194,197_crop_detail.jpg" alt=""
                    class="jury-main__card--img">
                <div class="jury-main__card--title">Ирада Хафизяновна Аюпова</div>
                <p class="jury-main__card--description">
                    Министр культуры Республики Татарстан

                </p>
            </div>
            <div class="jury-main__card">
                <img src="/src/assets/photo/jury/images.jpeg.300x300_q85_box-0,3,194,197_crop_detail.jpg" alt=""
                    class="jury-main__card--img">
                <div class="jury-main__card--title">Ирада Хафизяновна Аюпова</div>
                <p class="jury-main__card--description">
                    Министр культуры Республики Татарстан

                </p>
            </div>
            <div class="jury-main__card">
                <img src="/src/assets/photo/jury/images.jpeg.300x300_q85_box-0,3,194,197_crop_detail.jpg" alt=""
                    class="jury-main__card--img">
                <div class="jury-main__card--title">Ирада Хафизяновна Аюпова</div>
                <p class="jury-main__card--description">
                    Министр культуры Республики Татарстан

                </p>
            </div>
            <div class="jury-main__card">
                <img src="/src/assets/photo/jury/images.jpeg.300x300_q85_box-0,3,194,197_crop_detail.jpg" alt=""
                    class="jury-main__card--img">
                <div class="jury-main__card--title">Ирада Хафизяновна Аюпова</div>
                <p class="jury-main__card--description">
                    Министр культуры Республики Татарстан

                </p>
            </div>
            <div class="jury-main__card">
                <img src="/src/assets/photo/jury/images.jpeg.300x300_q85_box-0,3,194,197_crop_detail.jpg" alt=""
                    class="jury-main__card--img">
                <div class="jury-main__card--title">Ирада Хафизяновна Аюпова</div>
                <p class="jury-main__card--description">
                    Министр культуры Республики Татарстан

                </p>
            </div>
            <div class="jury-main__card">
                <img src="/src/assets/photo/jury/images.jpeg.300x300_q85_box-0,3,194,197_crop_detail.jpg" alt=""
                    class="jury-main__card--img">
                <div class="jury-main__card--title">Ирада Хафизяновна Аюпова</div>
                <p class="jury-main__card--description">
                    Министр культуры Республики Татарстан

                </p>
            </div>
        </div>
        <div class="jury-main__note">
            <img class="jury-main__note--icon"
                src="/src/assets/icons/competition-process-assets/participants.svg" width="44" height="44" alt=""
                aria-hidden="true">
            <div class="jury-main__note--line" aria-hidden="true"></div>
            <p class="jury-main__note--text">
                Состав жюри формируется из представителей Министерства культуры Республики Татарстан,
                Казанского федерального университета и Академии наук Республики Татарстан.
            </p>
        </div>
    </div>
</section>
