<section class="seasons">
    <div class="seasons__container container">
        <h4 class="seasons__subtitle">
            <span class="seasons__subtitle--line"></span>
            История конкурса
            <span class="seasons__subtitle--line"></span>
        </h4>
        <h1 class="seasons__title">
            Архив сезонов
        </h1>
        <p class="seasons__text">
            Участники, выпуски и памятные моменты
        </p>
        <div class="seasons__cards">
            <article class="seasons__card">
                <a href="./season.html" class="seasons__card--link">
                    <img src="./src/assets/photo/seasons/21-22.jpg" alt="" class="seasons__card--img">
                    <h4 class="seasons__card--title">
                        2021-2022
                    </h4>
                    <div class="seasons__card--link-box">
                        <span class="seasons__card--link--text">
                            Посмотреть сезон
                        </span>
                        <img src="./src/assets/icons/seasons/arrow-right.svg" alt="" class="seasons__card--link-img">
                    </div>
                </a>
            </article>
            <article class="seasons__card">
                <a href="./season.html" class="seasons__card--link">
                    <img src="./src/assets/photo/seasons/21-22.jpg" alt="" class="seasons__card--img">
                    <h4 class="seasons__card--title">
                        2021-2022
                    </h4>
                    <div class="seasons__card--link-box">
                        <span class="seasons__card--link--text">
                            Посмотреть сезон
                        </span>
                        <img src="./src/assets/icons/seasons/arrow-right.svg" alt="" class="seasons__card--link-img">
                    </div>
                </a>
            </article>
            <article class="seasons__card">
                <a href="./season.html" class="seasons__card--link">
                    <img src="./src/assets/photo/seasons/21-22.jpg" alt="" class="seasons__card--img">
                    <h4 class="seasons__card--title">
                        2021-2022
                    </h4>
                    <div class="seasons__card--link-box">
                        <span class="seasons__card--link--text">
                            Посмотреть сезон
                        </span>
                        <img src="./src/assets/icons/seasons/arrow-right.svg" alt="" class="seasons__card--link-img">
                    </div>
                </a>
            </article>
            <article class="seasons__card">
                <a href="./season.html" class="seasons__card--link">
                    <img src="./src/assets/photo/seasons/21-22.jpg" alt="" class="seasons__card--img">
                    <h4 class="seasons__card--title">
                        2021-2022
                    </h4>
                    <div class="seasons__card--link-box">
                        <span class="seasons__card--link--text">
                            Посмотреть сезон
                        </span>
                        <img src="./src/assets/icons/seasons/arrow-right.svg" alt="" class="seasons__card--link-img">
                    </div>
                </a>
            </article>
        </div>
    </div>
</section>